<section class="block container">
  <header class="block__header">
    <h2>heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      voluptatum quos ullam at id ipsam possimus minima praesentium error eum?
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      voluptatum quos ullam at id ipsam possimus minima praesentium error eum?
    </p>
  </div>
</section>
