<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">PRODUCTS</h2>
    <img class="icon collapsible__icon" src="/images/chevron.svg" alt="" />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi
    aperiam deleniti temporibus praesentium doloribus commodi explicabo alias
    nam aspernatur, enim eaque eum corrupti ducimus rem voluptate nihil quis
    ullam.
  </div>
</div>
<script src="/js/main.js"></script>
