<footer class="block block--dark footer">
  <div class="grid container footer__grid">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <img class="icon collapsible__icon" src="/images/chevron.svg" alt="" />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-item">
            <a href="#">Free Automated Wordpress</a>
          </li>
          <li class="footer-item"><a href="#">Website Hosting</a></li>
          <li class="footer-item"><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <img class="icon collapsible__icon" src="/images/chevron.svg" alt="" />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-item">
            <a href="#">About</a>
          </li>
          <li class="footer-item"><a href="#">َAffilites</a></li>
          <li class="footer-item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <img class="icon collapsible__icon" src="/images/chevron.svg" alt="" />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-item">
            <a href="#">About</a>
          </li>
          <li class="footer-item"><a href="#">َAffilites</a></li>
          <li class="footer-item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">DOMAIN</h2>
        <img class="icon collapsible__icon" src="/images/chevron.svg" alt="" />
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li class="footer-item">
            <a href="#">About</a>
          </li>
          <li class="footer-item"><a href="#">َAffilites</a></li>
          <li class="footer-item"><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
